
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myEventLabel">Thêm dữ liệu cho sự kiện nóng</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        
        <ul class="nav nav-tabs" id="myTab">
			  <li id="landingPageTab" class="active" ng-show="vm.showLpForm"><a data-target="#landingpage" data-toggle="tab">Landing page/Email</a></li>
			  <li id="fanpageTab" ng-show="vm.showFanpageForm"><a data-target="#fanpage" data-toggle="tab">Fanpage</a></li>
			  <li id="mailTab" class="disabled" ng-show="vm.showMailForm"><a data-target="#messages" data-toggle="tab">Email</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="landingpage" ng-show="vm.showLpForm">
			  	<div class="form-group">
		            <label class="text-info">Sector #1</label>
		            <table class="jh-table table table-striped">
		            	<!-- <tr>
		            		<td>Tiêu đề</td>
		            		<td><input type="text" class="form-control" name="title1" id="field_title" ng-model="vm.event.article.subject1" /></td>
		            	</tr> -->
		            	<tr>
		            		<td>Nội dung</td>
		            		<td><input type="text" class="form-control" name="content1" id="field_content" ng-model="vm.event.article.content1" /></td>
		            	</tr>
		            	<tr>
		            		<td>Link ảnh</td>
		            		<td><input type="text" class="form-control" name="image1" id="field_image" ng-model="vm.event.article.imageLink1" /></td>
		            	</tr>
		            	<tr>
		            		<td>URL</td>
		            		<td><input type="text" class="form-control" name="url1" id="field_url" ng-model="vm.event.article.urlLink1" /></td>
		            	</tr>
		            </table>
		        </div>
		        <div class="form-group">
		            <label class="text-info">Sector #2</label>
		            <table class="jh-table table table-striped">
		            	<!-- <tr>
		            		<td>Tiêu đề</td>
		            		<td><input type="text" class="form-control" name="title1" id="field_title" ng-model="vm.event.article.subject2" /></td>
		            	</tr> -->
		            	<tr>
		            		<td>Nội dung</td>
		            		<td><input type="text" class="form-control" name="content1" id="field_content" ng-model="vm.event.article.content2" /></td>
		            	</tr>
		            	<tr>
		            		<td>Link ảnh</td>
		            		<td><input type="text" class="form-control" name="image1" id="field_image" ng-model="vm.event.article.imageLink2" /></td>
		            	</tr>
		            	<tr>
		            		<td>URL</td>
		            		<td><input type="text" class="form-control" name="url1" id="field_url" ng-model="vm.event.article.urlLink2" /></td>
		            	</tr>
		            </table>
		        </div>
		        <div class="form-group">
		            <label class="text-info">Sector #3</label>
		            <table class="jh-table table table-striped">
		            	<!-- <tr>
		            		<td>Tiêu đề</td>
		            		<td><input type="text" class="form-control" name="title1" id="field_title" ng-model="vm.event.article.subject3" /></td>
		            	</tr> -->
		            	<tr>
		            		<td>Nội dung</td>
		            		<td><input type="text" class="form-control" name="content1" id="field_content" ng-model="vm.event.article.content3" /></td>
		            	</tr>
		            	<tr>
		            		<td>Link ảnh</td>
		            		<td><input type="text" class="form-control" name="image1" id="field_image" ng-model="vm.event.article.imageLink3" /></td>
		            	</tr>
		            	<tr>
		            		<td>URL</td>
		            		<td><input type="text" class="form-control" name="url1" id="field_url" ng-model="vm.event.article.urlLink3" /></td>
		            	</tr>
		            </table>
		        </div>
		        <div class="form-group">
		            <label class="control-label" for="field_video_link">Link video</label>
		            <input type="text" class="form-control" name="video_link" id="field_video_link" ng-model="vm.event.article.videoLink" />
		        </div>
		        <div class="form-group">
		            <label class="control-label" for="field_video_caption">Video caption</label>
		            <input type="text" class="form-control" name="video_caption" id="field_video_caption" ng-model="vm.event.article.videoCaption" />
		        </div>
			</div>
			<div class="tab-pane" id="fanpage" ng-show="vm.showFanpageForm">
				<div class="form-group">
            		<label class="control-label" for="field_fanpage">Nội dung Fanpage</label>
            		<input type="text" class="form-control" name="fanpageContent" id="field_fanpage" ng-model="vm.event.article.fanpageContent" />
       			</div>
       			<!-- <div class="form-group">
            		<label class="control-label" for="field_fanpage">Ảnh</label>
            		<input type="text" class="form-control" name="fanpageImage" id="field_fanpage" ng-model="vm.event.article.fanpageImage" />
       			</div> -->
       			<div class="form-group">
            		<label class="control-label" for="field_fanpage">URL</label>
            		<input type="text" class="form-control" name="fanpageLink" id="field_fanpage" ng-model="vm.event.article.fanpageLink" />
       			</div>
  			</div>
			<div class="tab-pane" id="messages"></div>
		</div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
