<form name="deleteForm" ng-submit="vm.confirmDelete(vm.event.id)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title">Preview nội dung</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        
        <ul class="nav nav-tabs" id="myTab">
			  <li id="landingPageTab" class="active" ng-show="vm.showLpForm"><a data-target="#landingpage" data-toggle="tab">Landing page/Mail</a></li>
			  <li id="fanpageTab" ng-show="vm.showFanpageForm"><a data-target="#fanpage" data-toggle="tab">Fanpage</a></li>
		</ul>
		
		<div class="tab-content">
			<div class="tab-pane active" id="landingpage">
				<div class="wdg_content" style="margin-top:20px">
		            <div class="col-lg-12">
		                <div class="col-lg-6 col-md-6 col-sm-12">
		                    <div class="wdg_title">
		                        <div class="wdg_iconTitle">
		                                <img src="http://171.244.9.9:9301/content/icon/iconTitle.png"/>
		                        </div>
		                        <div class="wdg_titleContent">
		                                <h3>Báo chí <span>nói gì về topica</span> </h3>
		                                <p></p>
		                        </div>
		                    </div>
		                    <div class="wdg_video">
		                               <iframe width="560" height="315" src="{{vm.event.article.videoLink | trusted}}" frameborder="0" allowfullscreen></iframe>
		                    </div>
		                    <div class="wdg_title_video">
		                        <p>{{vm.event.article.videoCaption}}</p>
		                    </div>
		                </div>
		                <div class="col-lg-6 col-md-6 col-sm-12 wdg_contenRight">
		                    <div class="col-lg-12 col-md-12 col-sm-6">
		                        <div class="col-lg-5 col-md-5 col-sm-12 wdg_img_right">
		                            <img src="{{vm.event.article.imageLink1}}"/>
		                        </div>
		                        <div class="col-lg-7 col-md-7 wdg_paddingRight">
		                            <div class="wdg_right_textContent">
		                                <p>{{vm.event.article.content1}}</p>
		                                <a href="{{vm.event.article.urlLink1}}">xem thêm</a>
		                                <hr/>
		                            </div>
		                        </div>        
		                    </div>
		                    <div class="col-lg-12 col-md-12 col-sm-6 wdg_contentRight_row">
		                        <div class="col-lg-5 col-md-5 col-sm-12  wdg_img_right">
		                            <img src="{{vm.event.article.imageLink2}}"/>
		                        </div>
		                        <div class="col-lg-7 col-md-7 col-sm-12  wdg_paddingRight">
		                            <div class="wdg_right_textContent">
		                                <p>{{vm.event.article.content2}}</p>
		                                <a href="{{vm.event.article.urlLink2}}">xem thêm</a>
		                                 <hr/>
		                            </div>
		                        </div>       
		                    </div>    
		                    <div class="col-lg-12 col-md-12 col-sm-6 wdg_contentRight_row">
		                        <div class="col-lg-5 col-md-5 col-sm-12  wdg_img_right">
		                            <img src="{{vm.event.article.imageLink3}}"/>
		                        </div>
		                        <div class="col-lg-7 col-md-7 col-sm-12 wdg_paddingRight">
		                            <div class="wdg_right_textContent">
		                                <p>{{vm.event.article.content3}}</p>
		                                <a href="{{vm.event.article.urlLink3}}">xem thêm</a>
		                                 <hr/>
		                            </div>
		                        </div>       
		                    </div>     
		                </div>
		            </div>
		        </div>
			</div>
			<div class="tab-pane" id="fanpage">
				<div style="margin-top:20px;margin-left: auto;margin-right: auto;width:450px">
					<div class="row" style="border-style: solid;padding:5px;border-width: 1px;border-color: #cac7c7">
						<div class="col-lg-12" style="margin-bottom:20px">
			            	{{vm.event.article.fanpageContent}}
			            </div>
			            <div ng-show="vm.isLoadling" style="width:50px;margin-left: auto;margin-right: auto">
			            	<span>Loading...</span>
			            </div>
			            <div ng-show="!vm.isLoadling">
				            <div class="col-lg-12">
				            	<img src="{{vm.previewFanpage.image}}" width="100%"/>
				            </div>
				            <div class="col-lg-12" style="margin-top:5px;font-size: 19px">
				            	{{vm.previewFanpage.title}}
				            </div>
				            <div class="col-lg-12">
				            	{{vm.previewFanpage.description}}
				            </div>
			            </div>					
					</div>
		        </div>
  			</div>
		</div>
    </div>
    <div class="row"></div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ok"></span>&nbsp;<span data-translate="entity.action.ok">Đồng ý</span>
        </button>
    </div>
</form>
