<footer class="footer-distributed">

	<div class="footer-left">

		<h3>TopicaEventAmplify<span>TEA</span></h3>

		<p class="footer-links">
			<a href="#">Home</a>
			·
			<a href="#">Blog</a>
			·
			<a href="#">Pricing</a>
			·
			<a href="#">About</a>
			·
			<a href="#">Faq</a>
			·
			<a href="#">Contact</a>
		</p>

		<p class="footer-company-name">Topica &copy; 2017</p>
	</div>

	<div class="footer-center">

		<div>
			<i class="fa fa-map-marker"></i>
			<p><span>Toà nhà số 75 Phương Mai</span> Đống Đa, Hà Nội.</p>
		</div>

		<div>
			<i class="fa fa-phone"></i>
			<p>1800 6885</p>
		</div>

		<div>
			<i class="fa fa-envelope"></i>
			<p><a href="mailto:native@topica.edu.vn">native@topica.edu.vn</a></p>
		</div>

	</div>

	<div class="footer-right">

		<p class="footer-company-about">
			<span>Về công ty</span>
			CÔNG TY CỔ PHẦN GIÁO DỤC TOPICA ENGLISH.
		</p>

		<div class="footer-icons">

			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-linkedin"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>

		</div>

	</div>

</footer>