
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myQuestionLabel" data-translate="topicaEventAmplifyApp.question.home.createOrEditLabel">Create or edit a Question</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.question.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.question.id" readonly />
        </div>
        <div class="form-group">
            <label data-translate="topicaEventAmplifyApp.question.role" for="field_role">Role</label>
            <select class="form-control" id="field_role" name="role" ng-model="vm.question.roleId" ng-options="channelGroup.id as channelGroup.name for channelGroup in vm.roles | filter:{channelGroupType:'ROLE'} | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="topicaEventAmplifyApp.question.invitee" for="field_invitee">Invitee</label>
            <select class="form-control" id="field_invitee" name="invitee" ng-model="vm.question.inviteeId" ng-options="channelGroup.id as channelGroup.name for channelGroup in vm.invitees | filter:{channelGroupType:'INVITEE'} | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="topicaEventAmplifyApp.question.scale" for="field_scale">Scale</label>
            <select class="form-control" id="field_scale" name="scale" ng-model="vm.question.scaleId" ng-options="channelGroup.id as channelGroup.name for channelGroup in vm.scales | filter:{channelGroupType:'SCALE'} | orderBy:'id'">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="topicaEventAmplifyApp.question.brandkeys" for="field_brandkeys">Brandkeys</label>
            <select class="form-control" id="field_brandkeys" multiple name="brandkeys" ng-model="vm.question.brandkeys" ng-options="brandkey as brandkey.brandkeyName for brandkey in vm.brandkeys track by brandkey.id"></select>
        </div>
        
        <div class="form-group">
            <label class="control-label" data-translate="topicaEventAmplifyApp.question.eventType" for="field_eventType">Event Type</label>
            <select class="form-control" name="eventType" ng-model="vm.question.eventType" id="field_eventType">
                <option value="CONFERENCE" data-translate="topicaEventAmplifyApp.EventType.CONFERENCE">CONFERENCE</option>
                <option value="WORKSHOP" data-translate="topicaEventAmplifyApp.EventType.WORKSHOP">WORKSHOP</option>
                <option value="CONTEST" data-translate="topicaEventAmplifyApp.EventType.CONTEST">CONTEST</option>
                <option value="BOOTCAMP" data-translate="topicaEventAmplifyApp.EventType.BOOTCAMP">BOOTCAMP</option>
                <option value="PARTY" data-translate="topicaEventAmplifyApp.EventType.PARTY">PARTY</option>
            </select>
        </div>
        
        <!-- Nguyên liệu -->
        <div class="form-group">
            <label class="control-label" data-translate="topicaEventAmplifyApp.question.extraContent" for="field_extraContent">Extra Content</label>
            <input type="text" class="form-control" name="extraContent" id="field_extraContent"
                    ng-model="vm.question.extraContent"
                    />
        </div>
        
        <div class="form-group">
            <label class="control-label" data-translate="topicaEventAmplifyApp.question.isMeatContent" for="field_isMeatContent">Is Meat Content</label>
                <input type="checkbox" name="isMeatContent" id="field_isMeatContent"
                          ng-model="vm.question.isMeatContent"/>
        </div>
        
        <div class="form-group">
            <label class="control-label" data-translate="topicaEventAmplifyApp.question.amplifyType" for="field_amplifyType">Amplify Type</label>
            <select class="form-control" name="amplifyType" ng-model="vm.question.amplifyType" id="field_amplifyType">
                <option value="SHARE" data-translate="topicaEventAmplifyApp.AmplifyType.SHARE">SHARE</option>
                <option value="SPONSOR" data-translate="topicaEventAmplifyApp.AmplifyType.SPONSOR">SPONSOR</option>
                <option value="INJECT" data-translate="topicaEventAmplifyApp.AmplifyType.INJECT">INJECT</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
